.contacts {
    display: flex;
    flex-direction: column;

    &__item {
        height: 72px;
        padding: 15px;
        display: flex;
        cursor: pointer;

        &:hover {
            background-color: var(--color-hover-border);
        }

        &_avatar {
            border-radius: 50%;
            height: 100%;

            &-default {
                width: 100px;
                height: 72px;
            }
        }

        &_name {
            font-weight: 600;
            padding: 5px;
            height: 100%;
            width: 100%;
            border-bottom: 1px solid var(--color-hover-border);
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5px;
        
        & input {
            border: none;
            border-radius: 8px;
            background-color: #f2f2f2;
            padding: 10px;
            color: var(--text-color);
            width: 90%;

            &:focus {
                outline: none;
            }

            &::placeholder {
                color: var(--text-placeholder-color);
            }
        }
    }
}